<div>
  <div class="row">
    <div class="col-md-4">
      <label class="form-label" for="symbol">Symbol:</label>
      <input class="form-control" type="text" id="symbol" [(ngModel)]="symbol">
    </div>
    <div class="col-md-4">
      <label class="form-label" for="interval">Interval:</label>
      <input class="form-control" type="text" id="interval" [(ngModel)]="interval">
    </div>
    <div class="col-md-4">
      <label class="form-label" for="numberOfSimulations">Number of Simulations:</label>
      <input class="form-control" type="number" id="numberOfSimulations" [(ngModel)]="numberOfSimulations">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="getRiskManagementData()">Get Risk Management Data</button>
    </div>
  </div>


  <div>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>
</div>
