<div>
  <label for="symbol">Symbol:</label>
  <input type="text" id="symbol" [(ngModel)]="symbol">

  <label for="interval">Interval:</label>
  <input type="text" id="interval" [(ngModel)]="interval">

  <label for="numberOfSimulations">Number of Simulations:</label>
  <input type="number" id="numberOfSimulations" [(ngModel)]="numberOfSimulations">

  <button (click)="getRiskManagementData()">Get Risk Management Data</button>

  <div>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
    </canvas>
  </div>
</div>
