<div class="main-wrapper">

  <!-- partial:sidebar -->
  <app-admin-side-bar></app-admin-side-bar>
  <!-- partial -->

  <div class="page-wrapper">

    <!-- partial:navbar -->
    <app-admin-nav-bar></app-admin-nav-bar>
    <!-- partial -->

    <div class="page-content">

      <!-- Spinner for lazyload modules -->
      <div *ngIf="isLoading" class="spinner-wrapper">
        <div class="spinner">Loading...</div>
      </div>

      <div contentAnimate *ngIf="!isLoading">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- partial:footer -->
    <app-admin-footer></app-admin-footer>
    <!-- partial -->

  </div>


</div>
