.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Add styling for the approval status */
span {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.approved {
  background-color: #28a745; /* Green for approved */
}

.disapproved {
  background-color: #dc3545; /* Red for disapproved */
}
.buttonc {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
