<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink=".">User</a></li>
    <li class="breadcrumb-item active" aria-current="page">User table</li>
  </ol>

</nav>
<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">User Table</h6>
        <div class="table-responsive">
          <table id="dataTableExample" class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>firstName</th>
              <th>lastName</th>
              <th>Email</th>
              <th>Points</th>
              <th>Role</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of userList | paginate
              : {
                  itemsPerPage: tableSize,
                  currentPage: page,
                  totalItems: count
                };
                let i = index">
              <td>{{i + (page-1) * tableSize + 1}}  </td>
              <td>{{item.userName}}</td>
              <td>{{item.userFirstName}}</td>
              <td>{{item.userLastName}}</td>
              <td>{{item.email===null ? 'il n`a pas d`email':  item.email}}</td>
              <td>{{item.points===null ? 'il n`a pas de points':  item.points}}</td>
              <td>
                <div *ngFor="let role of item.role">
                  <select class="form-select mb-3-sm" name="roleName" [(ngModel)]="role.roleName " #roleName   ="ngModel" required>
                    <option value="Consultant">Consultant</option>
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                  </select>
                </div>
              </td>
              <td>
                <div ngbDropdown class="mb-2">
                  <button ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon" type="button" >
                    <i class="icon-lg text-muted pb-3px" data-feather="more-horizontal" appFeatherIcon></i>
                  </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                    <a ngbDropdownItem class="d-flex align-items-center" [routerLink]="['/user/edit', item.idUser]" ><i data-feather="edit-2" appFeatherIcon class="icon-sm me-2"></i> <span class="">Edit</span></a>
                    <a ngbDropdownItem class="d-flex align-items-center"  ><i data-feather="trash" appFeatherIcon class="icon-sm me-2" ></i> <span class="">Delete</span></a>
                
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <br>
          <div class="d-flex justify-content-center">
            <pagination-controls class="pagination"
                                 previousLabel="Prev"
                                 nextLabel="Next"
                                 (pageChange)="onTableDataChange($event)"
            >
            </pagination-controls>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
</div>
<ng-template #Dialog >
  <div class="Reclamation-popup">
      <div class="Reclamation-popup-content" >
          <h2 matDialogTitle style="color: #007bff; font-size: 24px;">{{ message }} </h2>
      </div>
  </div>
</ng-template>

<ng-template #firstDialog >
  <div class="Reclamation-popup">
      <div class="Reclamation-popup-content" >
          <h2 matDialogTitle style="color: #007bff; font-size: 24px;">Ajouter des Points a l'utulisateur </h2>
          <a class="closedialog" (click)="close()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
            <form  [formGroup]="pointsForm">
              <div class="row mb-3">
              <label for="inputEmail3" class="form-label">Points</label>
              <div class="col-sm-10">
                  <input type="number" class="form-control" id="points" formControlName="points" name="points">
              </div>
              </div>
              <div class="text-center">
              <button type="submit" class="btn btn-primary" (click) = onConfirmer(Dialog)>Confirmer</button>
              </div>
          </form>
      </div>
  </div>
</ng-template>