<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/background.webp)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="/" class="sidebar-brand nobleui-logo">
              <img src="assets/images/Logo.png" alt="logo">
            </a>
            <br><br>

            <h5 class="text-muted fw-normal mb-4">Log in to your account.</h5>
            <form class="forms-sample" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
              <div class="mb-3" >
                <label  class="form-label">UserName</label>
                <input type="text" class="form-control" ngModel name="userName" id="userName" placeholder="Enter your username">
              </div>
              <div class="mb-3">
                <label  class="form-label">Password</label>
                <input type="password" class="form-control"   ngModel name="userPassword" id="userPassword" placeholder="Enter your password">
              </div>
              <div>
                <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0">Login</button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
